<a href="https://colab.research.google.com/github/BooEiEi/project/blob/main/Hyperparameter_dfcontrol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_1 = pd.read_csv(os.path.join(path,'df_control.csv'))
data_2 = pd.read_csv(os.path.join(path,'df_1.csv'))
data_3 = pd.read_csv(os.path.join(path,'df_2.csv'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install scikeras[tensorflow-cpu]

In [3]:
import keras
from keras import metrics
from keras import regularizers
from keras.layers import Dense, Dropout, Flatten, Activation
from keras.callbacks import TensorBoard, EarlyStopping, ModelCheckpoint
from keras.models import load_model
import tensorflow as tf
from keras.optimizers import SGD
import numpy as np
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from keras.optimizers import Adam
from tensorflow.keras import activations

# ชุด1

In [4]:
data_1.drop('Unnamed: 0',1,inplace = True)
data_1

<ipython-input-4-5545881ffe5a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_1.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,1.0,0.6607,0.2759,0.1274,0.1818,0.2845,0.4444,0.6216,0.3103,0.0854,...,0.6,0.5172,0.4091,0.1323,0.7407,0.2909,0.1186,0.0000,0.5823,0.4262
1,1.0,0.0714,0.7202,0.2394,0.2727,0.4052,0.2698,0.4595,0.4655,0.1566,...,0.4,0.5517,0.2803,0.1089,0.3704,0.3273,0.0678,0.0323,0.4304,0.4754
2,1.0,0.7500,0.2507,0.2625,0.4545,0.2672,0.1429,0.6216,0.5517,0.1673,...,0.3,0.3621,0.8182,0.2996,0.5370,0.8091,0.1525,0.4839,0.7595,0.5082
3,1.0,0.2679,0.3912,0.2992,0.3636,0.4138,0.1429,0.1351,0.3621,0.1993,...,0.2,0.5172,0.5758,0.1167,0.6667,0.5273,0.1186,0.1290,0.2405,0.4262
4,0.0,0.4643,0.2971,0.6081,0.5682,0.6983,0.7460,0.6757,0.9655,0.4377,...,0.5,0.8448,0.5455,0.1790,0.5185,0.5455,0.1017,0.0968,0.6709,0.4426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0.0,0.7143,0.2029,0.6023,0.5682,0.6897,0.7143,0.5946,0.3103,0.4840,...,0.5,0.8448,0.4545,0.6304,0.1296,0.4091,0.4576,0.4839,0.7975,0.6557
149,0.0,0.6786,0.1021,0.4093,0.5227,0.4397,0.2698,0.6486,0.3621,0.3879,...,0.6,0.8276,0.5227,0.1751,0.2778,0.6364,0.1186,0.5484,0.3291,0.7049
150,1.0,0.3929,0.6897,0.2838,0.4545,0.3017,0.2540,0.0000,0.4483,0.2135,...,0.4,0.4655,0.6818,0.1984,0.5741,0.6636,0.0339,0.0000,0.2152,0.3770
151,1.0,0.7321,0.2361,0.4054,0.3182,0.6466,0.4921,0.2162,0.3621,0.2313,...,0.4,0.5345,0.8561,0.1907,0.4444,0.9455,0.1017,0.2258,0.3544,0.4754
152,1.0,0.1964,0.6844,0.3359,0.5455,0.3017,0.3492,0.4595,0.3793,0.2883,...,0.3,0.3966,0.5909,0.1051,0.4444,0.6636,0.0847,0.1613,0.1899,0.3607

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
Scaler1 = scaler.fit_transform(data_1)

In [6]:
data_1 = pd.DataFrame(Scaler1)
data_1 = data_1.rename(columns={0: 'Sex' ,1: 'AgeSYear',2:'telomere length', 3:'Weight',4:'Height',5:'BMI',6:'Systolic',7:'Diastolic',8:'HeartRate',9:'SMM',10:'Fat Mass',
                                11:'% Body fat',12:'waist to hip radio',13:'abdominal circumference',14:'visceral fat area',15:'Glucose',16:'BUN',17:'Creatinine',18:'Uric Acid',19:'Cholesterol',
                                20:'Triglyceride',21:'HDL-C',22:'LDL',23:'AST',24:'ALT',25:'Alkaline Phos',26:'HbA1c'})

In [7]:
data_1

,Sex,AgeSYear,telomere length,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,1.0,0.6607,0.2759,0.1274,0.1818,0.2845,0.4444,0.6216,0.3103,0.0854,...,0.6,0.5172,0.4091,0.1323,0.7407,0.2909,0.1186,0.0000,0.5823,0.4262
1,1.0,0.0714,0.7202,0.2394,0.2727,0.4052,0.2698,0.4595,0.4655,0.1566,...,0.4,0.5517,0.2803,0.1089,0.3704,0.3273,0.0678,0.0323,0.4304,0.4754
2,1.0,0.7500,0.2507,0.2625,0.4545,0.2672,0.1429,0.6216,0.5517,0.1673,...,0.3,0.3621,0.8182,0.2996,0.5370,0.8091,0.1525,0.4839,0.7595,0.5082
3,1.0,0.2679,0.3912,0.2992,0.3636,0.4138,0.1429,0.1351,0.3621,0.1993,...,0.2,0.5172,0.5758,0.1167,0.6667,0.5273,0.1186,0.1290,0.2405,0.4262
4,0.0,0.4643,0.2971,0.6081,0.5682,0.6983,0.7460,0.6757,0.9655,0.4377,...,0.5,0.8448,0.5455,0.1790,0.5185,0.5455,0.1017,0.0968,0.6709,0.4426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0.0,0.7143,0.2029,0.6023,0.5682,0.6897,0.7143,0.5946,0.3103,0.4840,...,0.5,0.8448,0.4545,0.6304,0.1296,0.4091,0.4576,0.4839,0.7975,0.6557
149,0.0,0.6786,0.1021,0.4093,0.5227,0.4397,0.2698,0.6486,0.3621,0.3879,...,0.6,0.8276,0.5227,0.1751,0.2778,0.6364,0.1186,0.5484,0.3291,0.7049
150,1.0,0.3929,0.6897,0.2838,0.4545,0.3017,0.2540,0.0000,0.4483,0.2135,...,0.4,0.4655,0.6818,0.1984,0.5741,0.6636,0.0339,0.0000,0.2152,0.3770
151,1.0,0.7321,0.2361,0.4054,0.3182,0.6466,0.4921,0.2162,0.3621,0.2313,...,0.4,0.5345,0.8561,0.1907,0.4444,0.9455,0.1017,0.2258,0.3544,0.4754
152,1.0,0.1964,0.6844,0.3359,0.5455,0.3017,0.3492,0.4595,0.3793,0.2883,...,0.3,0.3966,0.5909,0.1051,0.4444,0.6636,0.0847,0.1613,0.1899,0.3607

In [8]:
y1 = data_1[['telomere length']]
X1 = data_1.drop('telomere length',1)

<ipython-input-8-775fb45faf26>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X1 = data_1.drop('telomere length',1)

In [9]:
data_1 = pd.DataFrame(Scaler1)
data_1 = data_1.rename(columns={0: 'Sex' ,1: 'AgeSYear',2:'telomere length', 3:'Weight',4:'Height',5:'BMI',6:'Systolic',7:'Diastolic',8:'HeartRate',9:'SMM',10:'Fat Mass',
                                11:'% Body fat',12:'waist to hip radio',13:'abdominal circumference',14:'visceral fat area',15:'Glucose',16:'BUN',17:'Creatinine',18:'Uric Acid',19:'Cholesterol',
                                20:'Triglyceride',21:'HDL-C',22:'LDL',23:'AST',24:'ALT',25:'Alkaline Phos',26:'HbA1c'})

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=99)

## batch_size epochs

In [11]:
seed = 99
tf.random.set_seed(seed)

In [12]:
def create_model():
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['accuracy'])
    return model

In [13]:
model = KerasRegressor(build_fn=create_model)

<ipython-input-13-82c839a6aff6>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model)

In [14]:
# define the grid search parameters
batch_size = [4, 8, 16, 32]
epochs = [10, 20, 30, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)

In [15]:
grid_result = grid.fit(X1, y1, verbose=0)

In [16]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.017522 using {'batch_size': 8, 'epochs': 100}
-0.026349 (0.006671) with: {'batch_size': 4, 'epochs': 10}
-0.018566 (0.000567) with: {'batch_size': 4, 'epochs': 20}
-0.019041 (0.002905) with: {'batch_size': 4, 'epochs': 30}
-0.019128 (0.002587) with: {'batch_size': 4, 'epochs': 50}
-0.020757 (0.000952) with: {'batch_size': 4, 'epochs': 100}
-0.030643 (0.001893) with: {'batch_size': 8, 'epochs': 10}
-0.030520 (0.002741) with: {'batch_size': 8, 'epochs': 20}
-0.018851 (0.004361) with: {'batch_size': 8, 'epochs': 30}
-0.021958 (0.002925) with: {'batch_size': 8, 'epochs': 50}
-0.017522 (0.001828) with: {'batch_size': 8, 'epochs': 100}
-0.047425 (0.020115) with: {'batch_size': 16, 'epochs': 10}
-0.028664 (0.002732) with: {'batch_size': 16, 'epochs': 20}
-0.022962 (0.001413) with: {'batch_size': 16, 'epochs': 30}
-0.021122 (0.002341) with: {'batch_size': 16, 'epochs': 50}
-0.019929 (0.004133) with: {'batch_size': 16, 'epochs': 100}
-0.056552 (0.020478) with: {'batch_size': 32, 'epochs': 10}
-0.027128 (0.000323) with: {'batch_size': 32, 'epochs': 20}
-0.036031 (0.005465) with: {'batch_size': 32, 'epochs': 30}
-0.024073 (0.001162) with: {'batch_size': 32, 'epochs': 50}
-0.020218 (0.002447) with: {'batch_size': 32, 'epochs': 100}

## Optimization Algorithm

In [17]:
seed = 99
tf.random.set_seed(seed)

In [18]:
def create_model(optimizer):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=optimizer, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [19]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-19-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [20]:
# define the grid search parameters
optimizer = ['SGD', 'RMSprop', 'Adam', 'Adagrad']
param_grid = dict(optimizer=optimizer)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X1, y1)

In [21]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.017405 using {'optimizer': 'Adam'}
-0.024917 (0.006924) with: {'optimizer': 'SGD'}
-0.021312 (0.005596) with: {'optimizer': 'RMSprop'}
-0.017405 (0.003542) with: {'optimizer': 'Adam'}
-0.050763 (0.009998) with: {'optimizer': 'Adagrad'}

## Learning Rate

In [22]:
seed = 99
tf.random.set_seed(seed)

In [23]:
def create_model(lr):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=Adam(lr), loss='mean_squared_error',metrics=['accuracy'])
    return model

In [24]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-24-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [25]:
lr = [0.001, 0.01, 0.1, 0.2, 0.3]
param_grid = dict(lr=lr)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X1, y1)

In [26]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.016358 using {'lr': 0.001}
-0.016358 (0.000790) with: {'lr': 0.001}
-0.018875 (0.004398) with: {'lr': 0.01}
-0.030239 (0.011241) with: {'lr': 0.1}
-0.042987 (0.005734) with: {'lr': 0.2}
-0.057396 (0.020033) with: {'lr': 0.3}

## activations

In [27]:
seed = 99
tf.random.set_seed(seed)

In [28]:
def create_model(activations):
    model = Sequential()
    model.add(Dense(26, activation = activations, input_shape=(26,)))
    model.add(Dense(26, activation = activations))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [29]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-29-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [30]:
activations = ['Linear', 'relu']
param_grid = dict(activations = activations)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X1, y1)

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
3 fits failed out of a total of 6.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.8/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    self.model = self.build_fn(**self.filter_sk_params(self.build_fn))
  File "<ipython-input-28-6c04643145f7>", line 3, in create_model
  File "/usr/local/lib/python3.8/dist-packages/keras/dtensor/utils.py", line 96, in _wrap_function
    init_method(layer_instance, *args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/keras/layers/core/dense.py", line 125, in __init__
    self.activation = activations.get(activation)
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/python/util/traceback_utils.py", line 153, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 609, in get
    return deserialize(identifier)
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 568, in deserialize
    return serialization.deserialize_keras_object(
  File "/usr/local/lib/python3.8/dist-packages/keras/saving/legacy/serialization.py", line 557, in deserialize_keras_object
    raise ValueError(
ValueError: Unknown activation function: 'Linear'. Please ensure you are using a `keras.utils.custom_object_scope` and that this object is included in the scope. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [        nan -0.02096352]
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [31]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.020964 using {'activations': 'relu'}
nan (nan) with: {'activations': 'Linear'}
-0.020964 (0.004757) with: {'activations': 'relu'}

## Hidden Layer

In [32]:
seed = 99
tf.random.set_seed(seed)

In [33]:
def create_model(neurons):
    model = Sequential()
    model.add(Dense(neurons, activation = 'relu', input_shape=(26,)))
    model.add(Dense(neurons, activation = 'relu'))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [34]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-34-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [35]:
# define the grid search parameters
neurons = [10, 20, 30, 40, 50, 100]
param_grid = dict(neurons=neurons)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X1, y1)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [36]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.018045 using {'neurons': 10}
-0.018045 (0.000872) with: {'neurons': 10}
-0.020086 (0.002912) with: {'neurons': 20}
-0.020774 (0.001196) with: {'neurons': 30}
-0.021080 (0.000685) with: {'neurons': 40}
-0.021282 (0.006399) with: {'neurons': 50}
-0.020939 (0.003433) with: {'neurons': 100}

# ชุด2

In [37]:
data_2.drop('Unnamed: 0',1,inplace = True)
data_2

<ipython-input-37-0b20a205f5ba>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_2.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.000000,19.40,112.000,64.00,70.00,19.741,13.631,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.000000,20.20,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.000000,21.60,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.000000,20.00,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.000000,20.70,129.000,79.00,83.00,19.907,15.369,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2.0,25.0,47.000000,165.000000,17.30,104.000,63.00,89.00,20.387,12.852,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.393333,8.98
418,2.0,31.0,72.200000,168.000000,25.60,123.000,89.00,69.00,25.451,18.258,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.186667,8.23
419,2.0,32.0,54.500000,158.466667,21.68,113.160,71.83,72.30,22.707,21.599,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
420,1.0,29.0,63.073333,168.866667,22.04,108.465,71.96,83.95,27.607,20.258,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,4.973333,8.93
421,2.0,31.0,58.066667,160.200000,22.60,112.810,72.72,74.41,23.020,22.436,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.086667,7.92

In [38]:
Scaler2 = scaler.fit_transform(data_2)

In [39]:
data_2 = pd.DataFrame(Scaler2)
data_2 = data_2.rename(columns={0: 'Sex' ,1: 'AgeSYear', 2:'Weight',3:'Height',4:'BMI',5:'Systolic',6:'Diastolic',7:'HeartRate',8:'SMM',9:'Fat Mass',
                                10:'% Body fat',11:'waist to hip radio',12:'abdominal circumference',13:'visceral fat area',14:'Glucose',15:'BUN',16:'Creatinine',17:'Uric Acid',18:'Cholesterol',
                                19:'Triglyceride',20:'HDL-C',21:'LDL',22:'AST',23:'ALT',24:'Alkaline Phos',25:'HbA1c',26:'telomere length'})

In [40]:
data_2

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length
0,1.0,0.582090,0.154562,0.250000,0.198473,0.531707,0.333333,0.306452,0.101103,0.236189,...,0.424242,0.438849,0.211082,0.402299,0.350365,0.271186,0.376812,0.203390,0.540984,0.119472
1,1.0,0.567164,0.158287,0.181818,0.259542,0.551220,0.537037,0.290323,0.085409,0.208738,...,0.454545,0.410072,0.089710,0.517241,0.321168,0.118644,0.144928,0.389831,0.426230,0.083010
2,1.0,0.074627,0.266294,0.272727,0.366412,0.443902,0.425926,0.435484,0.156584,0.259709,...,0.484848,0.287770,0.073879,0.287356,0.350365,0.067797,0.159420,0.288136,0.475410,0.212956
3,1.0,0.641791,0.288641,0.454545,0.244275,0.365854,0.537037,0.516129,0.167260,0.274272,...,0.318182,0.798561,0.203166,0.390805,0.737226,0.152542,0.362319,0.508475,0.508197,0.075640
4,1.0,1.000000,0.188082,0.204545,0.297710,0.697561,0.611111,0.516129,0.107011,0.278374,...,0.515152,0.460432,0.182058,0.137931,0.562044,0.050847,0.231884,0.559322,0.606557,0.012801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1.0,0.089552,0.150838,0.454545,0.038168,0.453659,0.314815,0.612903,0.124093,0.217282,...,0.424242,0.812950,0.050132,0.793103,0.569343,0.152542,0.086957,0.254237,0.474317,0.184639
418,1.0,0.179104,0.620112,0.522727,0.671756,0.639024,0.796296,0.290323,0.304306,0.348495,...,0.621212,0.489209,0.084433,0.275862,0.562044,0.203390,0.260870,0.466102,0.440437,0.155547
419,1.0,0.194030,0.290503,0.306061,0.372519,0.543024,0.478333,0.343548,0.206655,0.429587,...,0.469697,0.741007,0.108179,0.597701,0.598540,0.135593,0.057971,0.152542,0.489617,0.177269
420,0.0,0.149254,0.450155,0.542424,0.400000,0.497220,0.480741,0.531452,0.381032,0.397039,...,0.727273,0.151079,0.197889,0.241379,0.167883,0.372881,1.000000,0.449153,0.405464,0.182700
421,1.0,0.179104,0.356921,0.345455,0.442748,0.539610,0.494815,0.377581,0.217794,0.449903,...,0.303030,0.892086,0.379947,0.689655,0.540146,0.254237,0.072464,0.254237,0.587978,0.143522

In [41]:
y2 = data_2[['telomere length']]
X2 = data_2.drop('telomere length',1)

<ipython-input-41-438a6f4ae66a>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X2 = data_2.drop('telomere length',1)

## batch_size epochs

In [42]:
seed = 99
tf.random.set_seed(seed)

In [43]:
def create_model():
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['accuracy'])
    return model

In [44]:
model = KerasRegressor(build_fn=create_model)

<ipython-input-44-82c839a6aff6>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model)

In [45]:
# define the grid search parameters
batch_size = [4, 8, 16, 32]
epochs = [10, 20, 30, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)

In [46]:
grid_result = grid.fit(X2, y2, verbose=0)

In [47]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003463 using {'batch_size': 8, 'epochs': 30}
-0.003488 (0.002389) with: {'batch_size': 4, 'epochs': 10}
-0.003685 (0.001930) with: {'batch_size': 4, 'epochs': 20}
-0.003968 (0.002173) with: {'batch_size': 4, 'epochs': 30}
-0.003685 (0.002074) with: {'batch_size': 4, 'epochs': 50}
-0.003984 (0.002152) with: {'batch_size': 4, 'epochs': 100}
-0.004537 (0.002466) with: {'batch_size': 8, 'epochs': 10}
-0.003659 (0.002429) with: {'batch_size': 8, 'epochs': 20}
-0.003463 (0.002525) with: {'batch_size': 8, 'epochs': 30}
-0.004062 (0.001927) with: {'batch_size': 8, 'epochs': 50}
-0.003934 (0.002171) with: {'batch_size': 8, 'epochs': 100}
-0.003996 (0.002138) with: {'batch_size': 16, 'epochs': 10}
-0.003971 (0.002314) with: {'batch_size': 16, 'epochs': 20}
-0.003907 (0.002512) with: {'batch_size': 16, 'epochs': 30}
-0.003803 (0.002746) with: {'batch_size': 16, 'epochs': 50}
-0.003860 (0.002114) with: {'batch_size': 16, 'epochs': 100}
-0.004163 (0.001982) with: {'batch_size': 32, 'epochs': 10}
-0.005012 (0.003099) with: {'batch_size': 32, 'epochs': 20}
-0.004432 (0.002803) with: {'batch_size': 32, 'epochs': 30}
-0.003657 (0.002342) with: {'batch_size': 32, 'epochs': 50}
-0.003855 (0.001983) with: {'batch_size': 32, 'epochs': 100}

## Optimization Algorithm

In [48]:
seed = 99
tf.random.set_seed(seed)

In [49]:
def create_model(optimizer):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=optimizer, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [50]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-50-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [51]:
# define the grid search parameters
optimizer = ['SGD', 'RMSprop', 'Adam', 'Adagrad']
param_grid = dict(optimizer=optimizer)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X2, y2)

In [52]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003588 using {'optimizer': 'Adam'}
-0.004748 (0.002484) with: {'optimizer': 'SGD'}
-0.003859 (0.002381) with: {'optimizer': 'RMSprop'}
-0.003588 (0.001977) with: {'optimizer': 'Adam'}
-0.008241 (0.002986) with: {'optimizer': 'Adagrad'}

## Learning Rate

In [53]:
seed = 99
tf.random.set_seed(seed)

In [54]:
def create_model(lr):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=Adam(lr), loss='mean_squared_error',metrics=['accuracy'])
    return model

In [55]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-55-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [56]:
lr = [0.001, 0.01, 0.1, 0.2, 0.3]
param_grid = dict(lr=lr)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X2, y2)

In [57]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003184 using {'lr': 0.01}
-0.003823 (0.002098) with: {'lr': 0.001}
-0.003184 (0.002448) with: {'lr': 0.01}
-0.005447 (0.002071) with: {'lr': 0.1}
-0.004599 (0.003374) with: {'lr': 0.2}
-0.005139 (0.002324) with: {'lr': 0.3}

## activations

In [58]:
seed = 99
tf.random.set_seed(seed)

In [59]:
def create_model(activations):
    model = Sequential()
    model.add(Dense(26, activation = activations, input_shape=(26,)))
    model.add(Dense(26, activation = activations))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [60]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-60-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [61]:
activations = ['Linear', 'relu']
param_grid = dict(activations = activations)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X2, y2)

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
3 fits failed out of a total of 6.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.8/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    self.model = self.build_fn(**self.filter_sk_params(self.build_fn))
  File "<ipython-input-59-6c04643145f7>", line 3, in create_model
  File "/usr/local/lib/python3.8/dist-packages/keras/dtensor/utils.py", line 96, in _wrap_function
    init_method(layer_instance, *args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/keras/layers/core/dense.py", line 125, in __init__
    self.activation = activations.get(activation)
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/python/util/traceback_utils.py", line 153, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 609, in get
    return deserialize(identifier)
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 568, in deserialize
    return serialization.deserialize_keras_object(
  File "/usr/local/lib/python3.8/dist-packages/keras/saving/legacy/serialization.py", line 557, in deserialize_keras_object
    raise ValueError(
ValueError: Unknown activation function: 'Linear'. Please ensure you are using a `keras.utils.custom_object_scope` and that this object is included in the scope. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [        nan -0.00303595]
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [62]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003036 using {'activations': 'relu'}
nan (nan) with: {'activations': 'Linear'}
-0.003036 (0.002247) with: {'activations': 'relu'}

## Hidden Layer

In [63]:
seed = 99
tf.random.set_seed(seed)

In [64]:
def create_model(neurons):
    model = Sequential()
    model.add(Dense(neurons, activation = 'relu', input_shape=(26,)))
    model.add(Dense(neurons, activation = 'relu'))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [65]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-65-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [66]:
# define the grid search parameters
neurons = [10, 20, 30, 40, 50, 100 ]
param_grid = dict(neurons=neurons)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X2, y2)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [67]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.002868 using {'neurons': 30}
-0.003668 (0.002099) with: {'neurons': 10}
-0.003420 (0.002637) with: {'neurons': 20}
-0.002868 (0.002552) with: {'neurons': 30}
-0.003913 (0.002276) with: {'neurons': 40}
-0.005094 (0.002204) with: {'neurons': 50}
-0.003338 (0.002126) with: {'neurons': 100}

# ชุด 3

In [68]:
data_3.drop('Unnamed: 0',1,inplace = True)
data_3

<ipython-input-68-2409d95c4247>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_3.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200,156.00,19.40,112.000,64.00,70.00,19.694,13.404,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800,7.30
1,2.0,57.0,47.400,153.00,20.20,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100,6.36
2,2.0,24.0,53.200,157.00,21.60,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400,9.71
3,2.0,62.0,54.400,165.00,20.00,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600,6.17
4,2.0,86.0,49.000,154.00,20.70,129.000,79.00,83.00,20.057,16.295,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2.0,25.0,47.000,165.00,17.30,104.000,63.00,89.00,20.299,13.578,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.316,8.98
418,2.0,31.0,72.200,168.00,25.60,123.000,89.00,69.00,25.286,18.181,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.215,8.23
419,2.0,32.0,65.656,156.96,25.98,115.860,73.17,74.72,23.573,24.765,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.542,8.79
420,1.0,29.0,67.768,169.90,23.87,117.205,75.50,85.37,29.753,16.638,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.725,8.93
421,2.0,31.0,61.935,161.46,24.06,113.340,71.31,73.77,23.295,21.851,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,4.818,7.92

In [69]:
Scaler3 = scaler.fit_transform(data_3)

In [70]:
data_3 = pd.DataFrame(Scaler3)
data_3 = data_3.rename(columns={0: 'Sex' ,1: 'AgeSYear', 2:'Weight',3:'Height',4:'BMI',5:'Systolic',6:'Diastolic',7:'HeartRate',8:'SMM',9:'Fat Mass',
                                10:'% Body fat',11:'waist to hip radio',12:'abdominal circumference',13:'visceral fat area',14:'Glucose',15:'BUN',16:'Creatinine',17:'Uric Acid',18:'Cholesterol',
                                19:'Triglyceride',20:'HDL-C',21:'LDL',22:'AST',23:'ALT',24:'Alkaline Phos',25:'HbA1c',26:'telomere length'})

In [71]:
data_3

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length
0,1.0,0.582090,0.154562,0.250000,0.198473,0.531707,0.333333,0.306452,0.099431,0.230680,...,0.424242,0.438849,0.211082,0.402299,0.350365,0.271186,0.376812,0.203390,0.540984,0.119472
1,1.0,0.567164,0.158287,0.181818,0.259542,0.551220,0.537037,0.290323,0.085409,0.208738,...,0.454545,0.410072,0.089710,0.517241,0.321168,0.118644,0.144928,0.389831,0.426230,0.083010
2,1.0,0.074627,0.266294,0.272727,0.366412,0.443902,0.425926,0.435484,0.156584,0.259709,...,0.484848,0.287770,0.073879,0.287356,0.350365,0.067797,0.159420,0.288136,0.475410,0.212956
3,1.0,0.641791,0.288641,0.454545,0.244275,0.365854,0.537037,0.516129,0.167260,0.274272,...,0.318182,0.798561,0.203166,0.390805,0.737226,0.152542,0.362319,0.508475,0.508197,0.075640
4,1.0,1.000000,0.188082,0.204545,0.297710,0.697561,0.611111,0.516129,0.112349,0.300850,...,0.515152,0.460432,0.182058,0.137931,0.562044,0.050847,0.231884,0.559322,0.606557,0.012801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1.0,0.089552,0.150838,0.454545,0.038168,0.453659,0.314815,0.612903,0.120961,0.234903,...,0.424242,0.812950,0.050132,0.793103,0.569343,0.152542,0.086957,0.254237,0.461639,0.184639
418,1.0,0.179104,0.620112,0.522727,0.671756,0.639024,0.796296,0.290323,0.298434,0.346626,...,0.621212,0.489209,0.084433,0.275862,0.562044,0.203390,0.260870,0.466102,0.445082,0.155547
419,1.0,0.194030,0.498250,0.271818,0.700763,0.569366,0.503148,0.382581,0.237473,0.506432,...,0.469697,0.741007,0.108179,0.597701,0.598540,0.135593,0.057971,0.152542,0.498689,0.177269
420,0.0,0.149254,0.537579,0.565909,0.539695,0.582488,0.546296,0.554355,0.457402,0.309175,...,0.727273,0.151079,0.197889,0.241379,0.167883,0.372881,1.000000,0.449153,0.528689,0.182700
421,1.0,0.179104,0.428957,0.374091,0.554198,0.544780,0.468704,0.367258,0.227580,0.435704,...,0.303030,0.892086,0.379947,0.689655,0.540146,0.254237,0.072464,0.254237,0.380000,0.143522

In [72]:
y3 = data_2[['telomere length']]
X3 = data_2.drop('telomere length',1)

<ipython-input-72-d484779784ea>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X3 = data_2.drop('telomere length',1)

## batch_size epochs

In [73]:
seed = 99
tf.random.set_seed(seed)

In [74]:
def create_model():
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['accuracy'])
    return model

In [75]:
model = KerasRegressor(build_fn=create_model)

<ipython-input-75-82c839a6aff6>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model)

In [76]:
# define the grid search parameters
batch_size = [4, 8, 16, 32]
epochs = [10, 20, 30, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)

In [77]:
grid_result = grid.fit(X3, y3, verbose=0)

In [78]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003382 using {'batch_size': 32, 'epochs': 100}
-0.003640 (0.002298) with: {'batch_size': 4, 'epochs': 10}
-0.004137 (0.002086) with: {'batch_size': 4, 'epochs': 20}
-0.003441 (0.002497) with: {'batch_size': 4, 'epochs': 30}
-0.003600 (0.002288) with: {'batch_size': 4, 'epochs': 50}
-0.004530 (0.002110) with: {'batch_size': 4, 'epochs': 100}
-0.003925 (0.002869) with: {'batch_size': 8, 'epochs': 10}
-0.003600 (0.001852) with: {'batch_size': 8, 'epochs': 20}
-0.004030 (0.002333) with: {'batch_size': 8, 'epochs': 30}
-0.003964 (0.001864) with: {'batch_size': 8, 'epochs': 50}
-0.003663 (0.002145) with: {'batch_size': 8, 'epochs': 100}
-0.004157 (0.002317) with: {'batch_size': 16, 'epochs': 10}
-0.004115 (0.001923) with: {'batch_size': 16, 'epochs': 20}
-0.003767 (0.002234) with: {'batch_size': 16, 'epochs': 30}
-0.003896 (0.002445) with: {'batch_size': 16, 'epochs': 50}
-0.003656 (0.002026) with: {'batch_size': 16, 'epochs': 100}
-0.005445 (0.002470) with: {'batch_size': 32, 'epochs': 10}
-0.004590 (0.002422) with: {'batch_size': 32, 'epochs': 20}
-0.003989 (0.002189) with: {'batch_size': 32, 'epochs': 30}
-0.003407 (0.001989) with: {'batch_size': 32, 'epochs': 50}
-0.003382 (0.002433) with: {'batch_size': 32, 'epochs': 100}

## Optimization Algorithm

In [79]:
seed = 99
tf.random.set_seed(seed)

In [80]:
def create_model(optimizer):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=optimizer, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [81]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-81-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [82]:
# define the grid search parameters
optimizer = ['SGD', 'RMSprop', 'Adam', 'Adagrad']
param_grid = dict(optimizer=optimizer)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X3, y3)

In [83]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.004052 using {'optimizer': 'RMSprop'}
-0.004598 (0.002969) with: {'optimizer': 'SGD'}
-0.004052 (0.002689) with: {'optimizer': 'RMSprop'}
-0.004066 (0.002310) with: {'optimizer': 'Adam'}
-0.007374 (0.002413) with: {'optimizer': 'Adagrad'}

## Learning Rate

In [84]:
seed = 99
tf.random.set_seed(seed)

In [85]:
def create_model(lr):
    model = Sequential()
    model.add(Dense(26, activation='relu', input_shape=(26,)))
    model.add(Dense(26, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer=Adam(lr), loss='mean_squared_error',metrics=['accuracy'])
    return model

In [86]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-86-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [87]:
lr = [0.001, 0.01, 0.1, 0.2, 0.3]
param_grid = dict(lr=lr)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X3, y3)

In [88]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003626 using {'lr': 0.01}
-0.003895 (0.001958) with: {'lr': 0.001}
-0.003626 (0.002216) with: {'lr': 0.01}
-0.005304 (0.001483) with: {'lr': 0.1}
-0.003881 (0.001888) with: {'lr': 0.2}
-0.006454 (0.002377) with: {'lr': 0.3}

## activations

In [89]:
seed = 99
tf.random.set_seed(seed)

In [90]:
def create_model(activations):
    model = Sequential()
    model.add(Dense(26, activation = activations, input_shape=(26,)))
    model.add(Dense(26, activation = activations))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [91]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-91-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [92]:
activations = ['Linear', 'relu']
param_grid = dict(activations = activations)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X3, y3)

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
3 fits failed out of a total of 6.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.8/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    self.model = self.build_fn(**self.filter_sk_params(self.build_fn))
  File "<ipython-input-90-6c04643145f7>", line 3, in create_model
  File "/usr/local/lib/python3.8/dist-packages/keras/dtensor/utils.py", line 96, in _wrap_function
    init_method(layer_instance, *args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/keras/layers/core/dense.py", line 125, in __init__
    self.activation = activations.get(activation)
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/python/util/traceback_utils.py", line 153, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 609, in get
    return deserialize(identifier)
  File "/usr/local/lib/python3.8/dist-packages/keras/activations.py", line 568, in deserialize
    return serialization.deserialize_keras_object(
  File "/usr/local/lib/python3.8/dist-packages/keras/saving/legacy/serialization.py", line 557, in deserialize_keras_object
    raise ValueError(
ValueError: Unknown activation function: 'Linear'. Please ensure you are using a `keras.utils.custom_object_scope` and that this object is included in the scope. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [        nan -0.00498195]
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [93]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.004982 using {'activations': 'relu'}
nan (nan) with: {'activations': 'Linear'}
-0.004982 (0.002746) with: {'activations': 'relu'}

## Hidden Layer

In [94]:
seed = 99
tf.random.set_seed(seed)

In [95]:
def create_model(neurons):
    model = Sequential()
    model.add(Dense(neurons, activation = 'relu', input_shape=(26,)))
    model.add(Dense(neurons, activation = 'relu'))
    model.add(Dense(1))
    adam= Adam(lr=0.01)
    model.compile(optimizer=adam, loss='mean_squared_error',metrics=['accuracy'])
    return model

In [96]:
model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

<ipython-input-96-274eb9c7d1e4>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn=create_model, epochs=50, batch_size=8, verbose=0)

In [97]:
# define the grid search parameters
neurons = [10, 20, 30, 40, 50, 100 ]
param_grid = dict(neurons=neurons)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X3, y3)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [98]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: -0.003200 using {'neurons': 100}
-0.003475 (0.002023) with: {'neurons': 10}
-0.004124 (0.002141) with: {'neurons': 20}
-0.004434 (0.002508) with: {'neurons': 30}
-0.003317 (0.002080) with: {'neurons': 40}
-0.003310 (0.002227) with: {'neurons': 50}
-0.003200 (0.002280) with: {'neurons': 100}