<a href="https://colab.research.google.com/github/BooEiEi/project/blob/main/Hyperparameter_Randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_1 = pd.read_csv(os.path.join(path,'df_control.csv'))
data_2 = pd.read_csv(os.path.join(path,'df_1.csv'))
data_3 = pd.read_csv(os.path.join(path,'df_2.csv'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
pip install scikeras[tensorflow-cpu]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikeras[tensorflow-cpu] in /usr/local/lib/python3.8/dist-packages (0.10.0)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikeras[tensorflow-cpu]) (1.0.2)
Requirement already satisfied: packaging>=0.21 in /usr/local/lib/python3.8/dist-packages (from scikeras[tensorflow-cpu]) (23.0)
Requirement already satisfied: tensorflow-cpu>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from scikeras[tensorflow-cpu]) (2.11.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->scikeras[tensorflow-cpu]) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->scikeras[tensorflow-cpu]) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->scikeras[tensorflow-cpu]) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->scikeras[tensorflow-cpu]) (1.21.6)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.51.1)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (4.5.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (15.0.6.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.15.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.1.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.30.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.4.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (23.1.21)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (57.4.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.11.2)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.6.3)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.2.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.11.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.19.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.38.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.25.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.16.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.8.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (6.0.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (1.24.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.13.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-cpu>=2.11.0->scikeras[tensorflow-cpu]) (3.2.2)

In [3]:
import tensorflow as tf
import numpy as np
from sklearn.ensemble import RandomForestRegressor

In [4]:
data_1.drop('Unnamed: 0',1,inplace = True)
data_1

<ipython-input-4-5545881ffe5a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_1.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,1.0,0.6607,0.2759,0.1274,0.1818,0.2845,0.4444,0.6216,0.3103,0.0854,...,0.6,0.5172,0.4091,0.1323,0.7407,0.2909,0.1186,0.0000,0.5823,0.4262
1,1.0,0.0714,0.7202,0.2394,0.2727,0.4052,0.2698,0.4595,0.4655,0.1566,...,0.4,0.5517,0.2803,0.1089,0.3704,0.3273,0.0678,0.0323,0.4304,0.4754
2,1.0,0.7500,0.2507,0.2625,0.4545,0.2672,0.1429,0.6216,0.5517,0.1673,...,0.3,0.3621,0.8182,0.2996,0.5370,0.8091,0.1525,0.4839,0.7595,0.5082
3,1.0,0.2679,0.3912,0.2992,0.3636,0.4138,0.1429,0.1351,0.3621,0.1993,...,0.2,0.5172,0.5758,0.1167,0.6667,0.5273,0.1186,0.1290,0.2405,0.4262
4,0.0,0.4643,0.2971,0.6081,0.5682,0.6983,0.7460,0.6757,0.9655,0.4377,...,0.5,0.8448,0.5455,0.1790,0.5185,0.5455,0.1017,0.0968,0.6709,0.4426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0.0,0.7143,0.2029,0.6023,0.5682,0.6897,0.7143,0.5946,0.3103,0.4840,...,0.5,0.8448,0.4545,0.6304,0.1296,0.4091,0.4576,0.4839,0.7975,0.6557
149,0.0,0.6786,0.1021,0.4093,0.5227,0.4397,0.2698,0.6486,0.3621,0.3879,...,0.6,0.8276,0.5227,0.1751,0.2778,0.6364,0.1186,0.5484,0.3291,0.7049
150,1.0,0.3929,0.6897,0.2838,0.4545,0.3017,0.2540,0.0000,0.4483,0.2135,...,0.4,0.4655,0.6818,0.1984,0.5741,0.6636,0.0339,0.0000,0.2152,0.3770
151,1.0,0.7321,0.2361,0.4054,0.3182,0.6466,0.4921,0.2162,0.3621,0.2313,...,0.4,0.5345,0.8561,0.1907,0.4444,0.9455,0.1017,0.2258,0.3544,0.4754
152,1.0,0.1964,0.6844,0.3359,0.5455,0.3017,0.3492,0.4595,0.3793,0.2883,...,0.3,0.3966,0.5909,0.1051,0.4444,0.6636,0.0847,0.1613,0.1899,0.3607

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
Scaler1 = scaler.fit_transform(data_1)

In [6]:
data_1 = pd.DataFrame(Scaler1)
data_1 = data_1.rename(columns={0: 'Sex' ,1: 'AgeSYear',2:'telomere length', 3:'Weight',4:'Height',5:'BMI',6:'Systolic',7:'Diastolic',8:'HeartRate',9:'SMM',10:'Fat Mass',
                                11:'% Body fat',12:'waist to hip radio',13:'abdominal circumference',14:'visceral fat area',15:'Glucose',16:'BUN',17:'Creatinine',18:'Uric Acid',19:'Cholesterol',
                                20:'Triglyceride',21:'HDL-C',22:'LDL',23:'AST',24:'ALT',25:'Alkaline Phos',26:'HbA1c'})

In [7]:
data_1

,Sex,AgeSYear,telomere length,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,1.0,0.6607,0.2759,0.1274,0.1818,0.2845,0.4444,0.6216,0.3103,0.0854,...,0.6,0.5172,0.4091,0.1323,0.7407,0.2909,0.1186,0.0000,0.5823,0.4262
1,1.0,0.0714,0.7202,0.2394,0.2727,0.4052,0.2698,0.4595,0.4655,0.1566,...,0.4,0.5517,0.2803,0.1089,0.3704,0.3273,0.0678,0.0323,0.4304,0.4754
2,1.0,0.7500,0.2507,0.2625,0.4545,0.2672,0.1429,0.6216,0.5517,0.1673,...,0.3,0.3621,0.8182,0.2996,0.5370,0.8091,0.1525,0.4839,0.7595,0.5082
3,1.0,0.2679,0.3912,0.2992,0.3636,0.4138,0.1429,0.1351,0.3621,0.1993,...,0.2,0.5172,0.5758,0.1167,0.6667,0.5273,0.1186,0.1290,0.2405,0.4262
4,0.0,0.4643,0.2971,0.6081,0.5682,0.6983,0.7460,0.6757,0.9655,0.4377,...,0.5,0.8448,0.5455,0.1790,0.5185,0.5455,0.1017,0.0968,0.6709,0.4426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0.0,0.7143,0.2029,0.6023,0.5682,0.6897,0.7143,0.5946,0.3103,0.4840,...,0.5,0.8448,0.4545,0.6304,0.1296,0.4091,0.4576,0.4839,0.7975,0.6557
149,0.0,0.6786,0.1021,0.4093,0.5227,0.4397,0.2698,0.6486,0.3621,0.3879,...,0.6,0.8276,0.5227,0.1751,0.2778,0.6364,0.1186,0.5484,0.3291,0.7049
150,1.0,0.3929,0.6897,0.2838,0.4545,0.3017,0.2540,0.0000,0.4483,0.2135,...,0.4,0.4655,0.6818,0.1984,0.5741,0.6636,0.0339,0.0000,0.2152,0.3770
151,1.0,0.7321,0.2361,0.4054,0.3182,0.6466,0.4921,0.2162,0.3621,0.2313,...,0.4,0.5345,0.8561,0.1907,0.4444,0.9455,0.1017,0.2258,0.3544,0.4754
152,1.0,0.1964,0.6844,0.3359,0.5455,0.3017,0.3492,0.4595,0.3793,0.2883,...,0.3,0.3966,0.5909,0.1051,0.4444,0.6636,0.0847,0.1613,0.1899,0.3607

In [8]:
y1 = data_1[['telomere length']]
X1 = data_1.drop('telomere length',1)

<ipython-input-8-775fb45faf26>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X1 = data_1.drop('telomere length',1)

In [9]:
data_1 = pd.DataFrame(Scaler1)
data_1 = data_1.rename(columns={0: 'Sex' ,1: 'AgeSYear',2:'telomere length', 3:'Weight',4:'Height',5:'BMI',6:'Systolic',7:'Diastolic',8:'HeartRate',9:'SMM',10:'Fat Mass',
                                11:'% Body fat',12:'waist to hip radio',13:'abdominal circumference',14:'visceral fat area',15:'Glucose',16:'BUN',17:'Creatinine',18:'Uric Acid',19:'Cholesterol',
                                20:'Triglyceride',21:'HDL-C',22:'LDL',23:'AST',24:'ALT',25:'Alkaline Phos',26:'HbA1c'})

In [10]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=99)

## Grid Search with Cross Validation

In [11]:
from sklearn.model_selection import GridSearchCV

In [12]:
param_grid1 = {
    'max_depth': [3, 5, 7, 10],
    'max_leaf_nodes': [3, 6, 9],
    'n_estimators': [25, 50, 100, 150, 200, 300, 400, 500],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [13]:
rf1 = RandomForestRegressor()

In [14]:
grid_search1 = GridSearchCV(estimator=rf1,
                            param_grid=param_grid1,
                            cv=3,
                            n_jobs=-1,
                            verbose=2)

In [15]:
grid_search1.fit(X1_train, y1_train)

Fitting 3 folds for each of 384 candidates, totalling 1152 fits

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 10],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'max_leaf_nodes': [3, 6, 9],
                         'n_estimators': [25, 50, 100, 150, 200, 300, 400,
                                          500]},
             verbose=2)

In [16]:
best_grid1 = grid_search1.best_estimator_

In [17]:
best_grid1

RandomForestRegressor(max_depth=10, max_features=None, max_leaf_nodes=9,
                      n_estimators=50)

# ชุด 2

In [18]:
data_2.drop('Unnamed: 0',1,inplace = True)
data_2

<ipython-input-18-0b20a205f5ba>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_2.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.000000,19.40,112.000,64.00,70.00,19.741,13.631,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.000000,20.20,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.000000,21.60,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.000000,20.00,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.000000,20.70,129.000,79.00,83.00,19.907,15.369,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2.0,25.0,47.000000,165.000000,17.30,104.000,63.00,89.00,20.387,12.852,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.393333,8.98
418,2.0,31.0,72.200000,168.000000,25.60,123.000,89.00,69.00,25.451,18.258,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.186667,8.23
419,2.0,32.0,54.500000,158.466667,21.68,113.160,71.83,72.30,22.707,21.599,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
420,1.0,29.0,63.073333,168.866667,22.04,108.465,71.96,83.95,27.607,20.258,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,4.973333,8.93
421,2.0,31.0,58.066667,160.200000,22.60,112.810,72.72,74.41,23.020,22.436,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.086667,7.92

In [19]:
Scaler2 = scaler.fit_transform(data_2)

In [20]:
data_2 = pd.DataFrame(Scaler2)
data_2 = data_2.rename(columns={0: 'Sex' ,1: 'AgeSYear', 2:'Weight',3:'Height',4:'BMI',5:'Systolic',6:'Diastolic',7:'HeartRate',8:'SMM',9:'Fat Mass',
                                10:'% Body fat',11:'waist to hip radio',12:'abdominal circumference',13:'visceral fat area',14:'Glucose',15:'BUN',16:'Creatinine',17:'Uric Acid',18:'Cholesterol',
                                19:'Triglyceride',20:'HDL-C',21:'LDL',22:'AST',23:'ALT',24:'Alkaline Phos',25:'HbA1c',26:'telomere length'})

In [21]:
data_2

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length
0,1.0,0.582090,0.154562,0.250000,0.198473,0.531707,0.333333,0.306452,0.101103,0.236189,...,0.424242,0.438849,0.211082,0.402299,0.350365,0.271186,0.376812,0.203390,0.540984,0.119472
1,1.0,0.567164,0.158287,0.181818,0.259542,0.551220,0.537037,0.290323,0.085409,0.208738,...,0.454545,0.410072,0.089710,0.517241,0.321168,0.118644,0.144928,0.389831,0.426230,0.083010
2,1.0,0.074627,0.266294,0.272727,0.366412,0.443902,0.425926,0.435484,0.156584,0.259709,...,0.484848,0.287770,0.073879,0.287356,0.350365,0.067797,0.159420,0.288136,0.475410,0.212956
3,1.0,0.641791,0.288641,0.454545,0.244275,0.365854,0.537037,0.516129,0.167260,0.274272,...,0.318182,0.798561,0.203166,0.390805,0.737226,0.152542,0.362319,0.508475,0.508197,0.075640
4,1.0,1.000000,0.188082,0.204545,0.297710,0.697561,0.611111,0.516129,0.107011,0.278374,...,0.515152,0.460432,0.182058,0.137931,0.562044,0.050847,0.231884,0.559322,0.606557,0.012801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1.0,0.089552,0.150838,0.454545,0.038168,0.453659,0.314815,0.612903,0.124093,0.217282,...,0.424242,0.812950,0.050132,0.793103,0.569343,0.152542,0.086957,0.254237,0.474317,0.184639
418,1.0,0.179104,0.620112,0.522727,0.671756,0.639024,0.796296,0.290323,0.304306,0.348495,...,0.621212,0.489209,0.084433,0.275862,0.562044,0.203390,0.260870,0.466102,0.440437,0.155547
419,1.0,0.194030,0.290503,0.306061,0.372519,0.543024,0.478333,0.343548,0.206655,0.429587,...,0.469697,0.741007,0.108179,0.597701,0.598540,0.135593,0.057971,0.152542,0.489617,0.177269
420,0.0,0.149254,0.450155,0.542424,0.400000,0.497220,0.480741,0.531452,0.381032,0.397039,...,0.727273,0.151079,0.197889,0.241379,0.167883,0.372881,1.000000,0.449153,0.405464,0.182700
421,1.0,0.179104,0.356921,0.345455,0.442748,0.539610,0.494815,0.377581,0.217794,0.449903,...,0.303030,0.892086,0.379947,0.689655,0.540146,0.254237,0.072464,0.254237,0.587978,0.143522

In [22]:
y2 = data_2[['telomere length']]
X2 = data_2.drop('telomere length',1)

<ipython-input-22-438a6f4ae66a>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X2 = data_2.drop('telomere length',1)

In [23]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=99)

## Grid Search with Cross Validation

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
param_grid2 = {
    'max_depth': [3, 5, 7, 10],
    'max_leaf_nodes': [3, 6, 9],
    'n_estimators': [25, 50, 100, 150, 200, 300, 400, 500],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [26]:
rf2 = RandomForestRegressor()

In [27]:
grid_search2 = GridSearchCV(estimator=rf2,
                            param_grid=param_grid2,
                            cv=3,
                            n_jobs=-1,
                            verbose=2)

In [28]:
grid_search2.fit(X2_train, y2_train)

Fitting 3 folds for each of 384 candidates, totalling 1152 fits

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 10],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'max_leaf_nodes': [3, 6, 9],
                         'n_estimators': [25, 50, 100, 150, 200, 300, 400,
                                          500]},
             verbose=2)

In [29]:
best_grid2 = grid_search2.best_estimator_

In [30]:
best_grid2

RandomForestRegressor(max_depth=7, max_features=None, max_leaf_nodes=9,
                      n_estimators=25)

# ชุด 3

In [31]:
data_3.drop('Unnamed: 0',1,inplace = True)
data_3

<ipython-input-31-2409d95c4247>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_3.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200,156.00,19.40,112.000,64.00,70.00,19.694,13.404,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800,7.30
1,2.0,57.0,47.400,153.00,20.20,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100,6.36
2,2.0,24.0,53.200,157.00,21.60,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400,9.71
3,2.0,62.0,54.400,165.00,20.00,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600,6.17
4,2.0,86.0,49.000,154.00,20.70,129.000,79.00,83.00,20.057,16.295,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2.0,25.0,47.000,165.00,17.30,104.000,63.00,89.00,20.299,13.578,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.316,8.98
418,2.0,31.0,72.200,168.00,25.60,123.000,89.00,69.00,25.286,18.181,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.215,8.23
419,2.0,32.0,65.656,156.96,25.98,115.860,73.17,74.72,23.573,24.765,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.542,8.79
420,1.0,29.0,67.768,169.90,23.87,117.205,75.50,85.37,29.753,16.638,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.725,8.93
421,2.0,31.0,61.935,161.46,24.06,113.340,71.31,73.77,23.295,21.851,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,4.818,7.92

In [32]:
Scaler3 = scaler.fit_transform(data_3)

In [33]:
data_3 = pd.DataFrame(Scaler3)
data_3 = data_3.rename(columns={0: 'Sex' ,1: 'AgeSYear', 2:'Weight',3:'Height',4:'BMI',5:'Systolic',6:'Diastolic',7:'HeartRate',8:'SMM',9:'Fat Mass',
                                10:'% Body fat',11:'waist to hip radio',12:'abdominal circumference',13:'visceral fat area',14:'Glucose',15:'BUN',16:'Creatinine',17:'Uric Acid',18:'Cholesterol',
                                19:'Triglyceride',20:'HDL-C',21:'LDL',22:'AST',23:'ALT',24:'Alkaline Phos',25:'HbA1c',26:'telomere length'})

In [34]:
data_3

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length
0,1.0,0.582090,0.154562,0.250000,0.198473,0.531707,0.333333,0.306452,0.099431,0.230680,...,0.424242,0.438849,0.211082,0.402299,0.350365,0.271186,0.376812,0.203390,0.540984,0.119472
1,1.0,0.567164,0.158287,0.181818,0.259542,0.551220,0.537037,0.290323,0.085409,0.208738,...,0.454545,0.410072,0.089710,0.517241,0.321168,0.118644,0.144928,0.389831,0.426230,0.083010
2,1.0,0.074627,0.266294,0.272727,0.366412,0.443902,0.425926,0.435484,0.156584,0.259709,...,0.484848,0.287770,0.073879,0.287356,0.350365,0.067797,0.159420,0.288136,0.475410,0.212956
3,1.0,0.641791,0.288641,0.454545,0.244275,0.365854,0.537037,0.516129,0.167260,0.274272,...,0.318182,0.798561,0.203166,0.390805,0.737226,0.152542,0.362319,0.508475,0.508197,0.075640
4,1.0,1.000000,0.188082,0.204545,0.297710,0.697561,0.611111,0.516129,0.112349,0.300850,...,0.515152,0.460432,0.182058,0.137931,0.562044,0.050847,0.231884,0.559322,0.606557,0.012801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1.0,0.089552,0.150838,0.454545,0.038168,0.453659,0.314815,0.612903,0.120961,0.234903,...,0.424242,0.812950,0.050132,0.793103,0.569343,0.152542,0.086957,0.254237,0.461639,0.184639
418,1.0,0.179104,0.620112,0.522727,0.671756,0.639024,0.796296,0.290323,0.298434,0.346626,...,0.621212,0.489209,0.084433,0.275862,0.562044,0.203390,0.260870,0.466102,0.445082,0.155547
419,1.0,0.194030,0.498250,0.271818,0.700763,0.569366,0.503148,0.382581,0.237473,0.506432,...,0.469697,0.741007,0.108179,0.597701,0.598540,0.135593,0.057971,0.152542,0.498689,0.177269
420,0.0,0.149254,0.537579,0.565909,0.539695,0.582488,0.546296,0.554355,0.457402,0.309175,...,0.727273,0.151079,0.197889,0.241379,0.167883,0.372881,1.000000,0.449153,0.528689,0.182700
421,1.0,0.179104,0.428957,0.374091,0.554198,0.544780,0.468704,0.367258,0.227580,0.435704,...,0.303030,0.892086,0.379947,0.689655,0.540146,0.254237,0.072464,0.254237,0.380000,0.143522

In [35]:
y3 = data_3[['telomere length']]
X3 = data_3.drop('telomere length',1)

<ipython-input-35-4826e56e369f>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X3 = data_3.drop('telomere length',1)

In [36]:
from sklearn.model_selection import train_test_split
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.2, random_state=99)

## Grid Search with Cross Validation

In [37]:
from sklearn.model_selection import GridSearchCV

In [38]:
param_grid3 = {
    'max_depth': [3, 5, 7, 10],
    'max_leaf_nodes': [3, 6, 9],
    'n_estimators': [25, 50, 100, 150, 200, 300, 400, 500],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [39]:
rf3 = RandomForestRegressor()

In [40]:
grid_search3 = GridSearchCV(estimator=rf3,
                            param_grid=param_grid3,
                            cv=3,
                            n_jobs=-1,
                            verbose=2)

In [41]:
grid_search3.fit(X3_train, y3_train)

Fitting 3 folds for each of 384 candidates, totalling 1152 fits

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 10],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'max_leaf_nodes': [3, 6, 9],
                         'n_estimators': [25, 50, 100, 150, 200, 300, 400,
                                          500]},
             verbose=2)

In [42]:
best_grid3 = grid_search3.best_estimator_

In [43]:
best_grid3

RandomForestRegressor(max_depth=7, max_features=None, max_leaf_nodes=9,
                      n_estimators=50)